		<!DOCTYPE html>
		<html>
		<head>
		<meta charset="utf-8">
		        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		        <meta name="viewport" content="width=device-width, initial-scale=1">
		        <meta name="description" content="">
		        <meta name="author" content="Rauhmel Fox, CEO, WHOmentors.com, Inc.">

		<title>zhiyuanzhe (B-1 Volunteer) WHOmentors.com, Inc.</title>

		<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
	        <link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

	        <!-- Custom CSS -->
	        <link href="app/assets/stylesheets/freelancer.css" rel="stylesheet">

	        <!-- Custom Fonts -->
	        <link href="app/assets/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
	        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	        <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	        <!--link href"http://fortawesome.github.io/Font-Awesome/get-started" rel="stylesheet" type="text/css"-->

		  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		  <%= csrf_meta_tags %>
		</head>
		<body id="top" class="index">

		<%= yield %>


		<script src="app/assets/javascripts/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="app/assets/javascripts/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="app/assets/javascripts/classie.js"></script>
        <script src="app/assets/javascripts/cbpAnimatedHeader.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="app/assets/javascripts/jqBootstrapValidation.js"></script>
        <script src="app/assets/javascripts/contact_me.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="app/assets/javascripts/freelancer.js"></script>

		</body>
		</html>
